body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.next {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}


.button {
  max-height: 3em;
  font-size: 1.1em;
  letter-spacing: .2em;
  text-transform: uppercase;
  border-radius: 5px 5px 5px 5px;
    background: rgb(0, 0, 0);
    padding: 0.35em 0.75em;
  color: rgb(255, 255, 255);
  border: none;
  display: inline-block;
  cursor: pointer;
  margin: 16px;
}